html, body {
	width:100%;
	height:100%;

	margin:0;
	padding:0;

	overflow:hidden;
	position: static;
	background: #222222;
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}


.Main-Canvas {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position: absolute;
}


video {
	position: absolute;
	width:640px;
	height:480px;
	left:50%;
	top:50%;

	margin-left:-320px;
	margin-top:-240px;

	transition: all .5s ease-out;

	&.hide {
		opacity: 0;
	}
}

.desc {
	position: absolute;
	bottom: 10px;
	color:white;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	width: 100%;
	letter-spacing: 2px;
	transition : opacity .5s ease-out;

	&.hide {
		opacity: 0;
	}
}